<footer class="bg-light-green">
  <div class="container pt-5 pb-0">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <img src="/images/logo.png" alt="AK Foundation Logo" class="img-fluid mb-2">
          <p class="tagline fst-italic">Making a difference together</p>
        </div>
        <div class="footer-socials">
          <h4 class="text-dark-green">Follow Us</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://facebook.com" target="_blank" class="footer-link"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com" target="_blank" class="footer-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com" target="_blank" class="footer-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://linkedin.com" target="_blank" class="footer-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-links">
          <h4 class="text-dark-green">Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="#about" class="footer-link">About Us</a></li>
            <li><a href="#services" class="footer-link">Services</a></li>
            <li><a href="#contact" class="footer-link">Contact</a></li>
            <li><a href="#donate" class="footer-link">Donate</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-contact">
          <h4 class="text-dark-green">Contact Us</h4>
          <p class="mb-1">
            <strong>Smt. Dr. Rtn. Geetha</strong><br>
            <span class="fst-italic">Founder & President, AK Foundation</span>
          </p>
          <address>
            New #4, Old #10,<br>
            NGO's Colony, Third Cross Street,<br>
            Adambakkam, Chennai - 600088, India
          </address>
          <ul>
            <li>
              <i class="fas fa-envelope"></i>
              <a class="footer-link" href="mailto:rtngeetha17@yahoo.co.in">rtngeetha17@yahoo.co.in</a>
            </li>
            <li>
              <i class="fas fa-phone"></i>
              <a class="footer-link" href="tel:+919940376304">+91 99403 76304</a>
            </li>
            <li>
              <i class="fab fa-whatsapp"></i>
              <a class="footer-link" href="https://wa.me/919940376304" target="_blank">WhatsApp</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="footer-bottom bg-light-green py-3">
    <p class="text-center text-dark-green">&copy; 2024 AK Foundation. All rights reserved. Sketched with <i class="fa fa-heart" aria-hidden="true"></i> by 
      <a href="https://www.tensketch.com/" title="TenSketch website" class="text-red-alert">TenSketch</a>
    </p>
  </div>
</footer>