<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="/images/logo.png" alt="AK Foundation Logo">
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#donate">Donate</a></li>
        </ul>
      </div>
      <div class="footer-socials">
        <ul>
          <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
          <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 AK Foundation. All rights reserved. Sketched with <i class="fa fa-heart"
                aria-hidden="true"></i> by <a class="text-white" href="https://www.tensketch.com/" title="TenSketch website">TenSketch</a>
        </p>
    </div>
  </footer>
  