@import '../abstracts/index';

#hero {
  background-size: cover;
  background-position: center;
  color: $white;
  // min-height: 100vh;
  @include media-desktop {  
    // min-height: unset!important;
    height: 100vh!important;
    font-size: 8rem;
  }  
  @media(min-width:768px){
    height: 100vh!important;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}

#events, #about {
  h2 {
    color: $green-dark;
  }
}

.sports{
  border-radius: 10px;
  img{
    border-radius: 50%;
  }
}



.about {  
  background-color: $orange-light;  
  // color: $green-dark;  

  h2 {  
      font-weight: bold;  
  }  

  .lead {  
      margin-bottom: 1.5rem;  
  }  

  .btn-green-dark {  
      background-color: $green-dark;  
      color: white;  
      border: none;  

      &:hover {  
          background-color: darken($green-dark, 10%);  
      }  
  }  
}  