@import '../abstracts/index';

.hero {
  @include background-mixin;
  color: $white;
  min-height: calc(100vh - #{$navbar-height});
  padding-top: $navbar-height;
  @include media-desktop {
    // height: 100vh !important;
  }

  .section-title {
    // font-size: 3rem;
    color: $orange-light;
    &::after{
      background-color: $white;
      left: 0;
      transform: unset;
      width: 50%;
    }
  }
  .subtitle{
    color: $green-light;
  }
  .desc {
    font-size: 1.3rem;
    color: $orange-light;
    font-weight: bold;
  }
  li{
    &+li{
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }
}
.awards, .sports, .about{
  .section-title {
    // font-size: 3rem;
    // color: $orange-light;
    &::after{
      background-color: $orange-light;
      left: 0;
      transform: unset;
      width: 50%;
    }
  }
  img{
    @include border-radius; // Uses default 10px

  }
}



.sports {
  @include border-radius; // Uses default 10px

  li{
    &+li{
      margin-top: 0.5rem;
    }
  }

}
.schools, .services{
  .col{
    flex: 1 0 97%;
    max-width: 97%;
   @include media-desktop{
    flex: 1 0 30%;
    max-width: 30%;
   }
  }
}

.schools {
 
    .section-title {
        color: $green-dark;
        &::after {
            background-color: $orange-light;
        }
    }

}

.services{

  .custom-card{
    background-color: $green-light;
  }
}

.cta{
  .section-title{
    color: $orange-dark;
  }
}
