
// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive-font($desktop, $mobile) {
    font-size: $desktop;
    @media screen and (max-width: 768px) {
        font-size: $mobile;
    }
}