// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive-font($desktop, $mobile) {
    font-size: $desktop;

    @media screen and (max-width: 768px) {
        font-size: $mobile;
    }
}

// Define breakpoints  
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;

// Media query mixins  
@mixin media-mobile {
    @media (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}

@mixin media-tablet {
    @media (min-width: #{$breakpoint-mobile + 1}) and (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin media-desktop {
    @media (min-width: #{$breakpoint-tablet + 1}) {
        @content;
    }
}


// Example usage  
// .container {  
//   background-color: blue;  

//   @include media-mobile {  
//     background-color: red;  
//   }  

//   @include media-tablet {  
//     background-color: green;  
//   }  

//   @include media-desktop {  
//     background-color: yellow;  
//   }  

//   @include media-large-desktop {  
//     background-color: orange;  
//   }  
// }
@include media-mobile {
    
}


@include media-tablet {
    
}


@include media-desktop {
    
}