@import '../abstracts/variables';

footer {
  background-color: $green-light;

  .container {
    // padding: 2rem 0;
    .text-dark-green{
      font-size: 1.4rem;
      padding-bottom: 0.25rem;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 3px;
        background: $green-dark;

      }
    }
    .footer-logo {
      // text-align: center;
      margin-bottom: 1.5rem;

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
      }

      .tagline {
        color: $green-dark;
      }
    }

    .footer-links,
    .footer-contact {
      margin-bottom: 1.5rem;

      h4 {
        color: $green-dark;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 0.5rem 0;

          .footer-link {
            color: $red-alert;
            font-weight: 500;
            transition: transform 0.3s ease;
            display: inline-block;
            &:hover {
              transform: translateY(-3px);
              color: $red-alert;
            }
          }
        }
      }
    }

    .footer-socials {
      // text-align: center;

      ul {
        list-style: none;
        padding: 0;
        display: inline-flex;

        .list-inline-item {
          margin: 0 0.5rem;

          a {
            color: $green-dark;
            transition: transform 0.3s ease;

            &:hover {
              transform: translateY(-3px);
              color: $red-alert;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: $green-light;
    padding: 1rem 0;

    p {
      text-align: center;
      color: $green-dark;

      a {
        color: $red-alert;
        transition: color 0.3s ease;

        &:hover {
          color: darken($red-alert, 10%);
        }
      }
    }
  }
}

