@import '../abstracts/variables';

.navbar {
    .logo {
      width: 200px; // Adjust size as needed
      height: auto;
    }
  
    .nav-link {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: #333;
  
      &:hover {
        color: #007bff;
      }
  
      &.active {
        font-weight: bold;
        color: #007bff;
      }
    }
  
    .btn-outline-primary {
      border: 2px solid #007bff;
      color: #007bff;
  
      &:hover {
        background-color: #007bff;
        color: #fff;
      }
    }
  
    .btn-primary {
      background-color: #007bff;
      border: none;
  
      &:hover {
        background-color: #0056b3;
      }
    }
    .sidebar-toggler-bar{
      border: 1px solid rgb(159, 159, 159);
      border-radius: 5px;
      background: white;
      padding: 0.5rem;
      margin: 0 0.5rem;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

    }
  }
  