@import '../abstracts/variables';
$navbar-bg:#FFEFE6;
.navbar {
  // background-color: $orange-lighter;
  background-color: $navbar-bg;
  .logo {
    width: 200px; // Adjust size as needed
    // height: auto;
  }

  .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: $green-dark;

    &:hover {
      // color: #007bff;
    }

    &.active {
      font-weight: bold;
      // color: #007bff;
    }
  }


  .sidebar-toggler-bar {
    border: none;
    border-radius: 0;
    background: transparent;
    padding: 0;
    margin: 0 0.5rem;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  }
}

/* Custom CSS for sidebar */
#sidebar-right {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: $navbar-bg;
    transition: all 0.3s ease-in-out;
    z-index: 1050;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

#sidebar-right.show {
    right: 0;
}

/* Overlay effect when sidebar is open */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1040;
    display: none;
}

.sidebar-overlay.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}
.linksa{
  margin-top: 1px;
  border-radius: 0.2rem;
  color: $green-dark;
}
.linksa:hover{
  background-color: $green-light;
  color: $green-dark;
  }

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { right: -300px; }
    to { right: 0; }
}
